/**
 * WordPress dependencies
 */
import { registerBlockType } from '@wordpress/blocks';

/**
 * Internal dependencies
 */
import name from './block.json';
import edit from './edit';
import save from './save';
import './editor.css';

registerBlockType(name, {
	edit,
	save,
});
