{
	"$schema": "https://schemas.wp.org/trunk/block.json",
	"apiVersion": 3,
	"name": "{{namespace}}/{{slug}}",
	"title": "{{title}}",
	"description": "{{description}}",
	"category": "{{category}}",
	"textdomain": "{{namespace}}",
	"icon": "smiley",
	"supports": {
		"align": ["wide", "full"]
	},
	"attributes": {
	},
	"editorScript": "file:index.js",
	"editorStyle": "file:index.css",
	{{#viewFiles}}
	"viewScript": "file:view.js",
	"style": "file:view.css"
	{{/viewFiles}}
}
