/**
 * WordPress dependencies
 */
import { useBlockProps, InnerBlocks } from '@wordpress/block-editor';

/**
 * Fill out the template and allowedBlocks with the desired blocks.
 */
const TEMPLATE = [];
const ALLOWED_BLOCKS = [];

export default function Edit() {
	const blockProps = useBlockProps();

	return (
		<div {...blockProps}>
			<InnerBlocks template={TEMPLATE} allowedBlocks={ALLOWED_BLOCKS} />
		</div>
	);
}
