/**
 * WordPress dependencies
 */
import { useBlockProps, InnerBlocks } from '@wordpress/block-editor';

const TEMPLATE = [

];
const ALLOWED_BLOCKS = [

];

export default function Edit() {
	const blockProps = useBlockProps( {
		className: '{{namespace}}-{{slug}}',
	} );

	return (
		<div {...blockProps}>
			<InnerBlocks template={TEMPLATE} allowedBlocks={ALLOWED_BLOCKS} />
		</div>
	);
}
