{
	"version": "1.0.0",
	"apiVersion": 2,
	"name": "{{namespace}}/{{slug}}",
	"title": "{{title}}",
	"description": "{{description}}",
	"category": "{{category}}",
	"supports": {
		"align": ["wide", "full"]
	},
	"textdomain": "{{namespace}}",
	"editorScript": "file:build/index.js",
	"editorStyle": "file:build/editor.css",
	"style": "file:build/style.css"
}
