/**
 * WordPress dependencies
 */
import { useBlockProps } from '@wordpress/block-editor';

function Edit() {
	const blockProps = useBlockProps( {
		className: '{{namespace}}-{{slug}}',
	} );

	return (
		<div { ...blockProps }>
			{{title}}
		</div>
	);
}

export default Edit;
