{
	"$schema": "https://schemas.wp.org/trunk/block.json",
	"apiVersion": 3,
	"name": "{{namespace}}/{{slug}}",
	"title": "{{title}}",
	"description": "{{description}}",
	"category": "{{category}}",
	"textdomain": "{{namespace}}",
	"icon": "smiley",
	"supports": {
		"align": ["wide", "full"]
	},
	"attributes": {
	},
	"editorScript": "file:build/index.js",
	"style": "file:build/style.css"
}
