<?php
/**
 * Plugin Name: Block - {{title}}
{{#description}}
 * Description: {{description}}
{{/description}}
 * Text Domain: {{textdomain}}
 * Author:      Dekode Interaktiv
 * Version:     1.0.0
 * AuthorURI:   https://dekode.no/
 *
 * @package     {{namespace}}
 */

declare( strict_types = 1 );

namespace {{phpnamespace}}\Blocks\{{phpnamespaceslug}};

/**
 * Server Side render callback.
 *
 * @param  array  $attributes Block attritues.
 * @param  string $content Innerblock content.
 * @return string
 */
function render( array $attributes, string $content ) : string {
	$wrapper_attributes = get_block_wrapper_attributes();

	return sprintf( '
		<div %s>
			<div class="{{namespace}}-{{slug}}__blocks">
				%s
			</div>
		</div>',
		$wrapper_attributes,
		$content
	);
}

/**
 * Register plugin Block Type.
 *
 * @return void
 */
function block_init() {
	\register_block_type_from_metadata( __DIR__, [
		'render_callback' => __NAMESPACE__ . '\\render',
	] );
}

\add_action( 'init', __NAMESPACE__ . '\\block_init' );
