<?php
/**
 * Plugin Name:       Block - {{title}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Text Domain:       {{textdomain}}
 *
 * @package           {{namespace}}
 */

declare( strict_types = 1 );

namespace {{phpnamespace}}\Blocks\{{phpnamespaceslug}};

/**
 * Server Side render callback.
 *
 * @param  array  $attributes Block attritues.
 * @param  string $content Innerblock content.
 * @return string
 */
function render( array $attributes, string $content ) : string {
	$wrapper_attributes = get_block_wrapper_attributes( [
		'class' => '{{namespace}}-{{slug}}',
	] );

	return sprintf( '
		<div %s>
			<h2>{{title}}<h2>
			<div class="{{namespace}}-{{slug}}__blocks">
				%s
			</div>
		</div>', 
		$wrapper_attributes, 
		$content 
	);
}

/**
 * Register plugin Block Type.
 *
 * @return void
 */
function block_init() {
	\register_block_type_from_metadata( __DIR__, [
		'render_callback' => __NAMESPACE__ . '\\render',
	] );
}

\add_action( 'init', __NAMESPACE__ . '\\block_init' );
